* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.volumeForm {
  margin: 20vh auto;
  max-width: 380px;
  font-size: 16px;
  padding: 0 15px;
}

.field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  position: relative;
}

.field label {
  display: inline-block;
  width: 50px;
}

.field input, .field select {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #b0b0b0;
}

.field input {
  appearance: none;
}

.field span {
  position: absolute;
  bottom: -16px;
  color: red;
  right: 0;
}
